@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&display=swap');

.TITLE{
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
}
.Header{
    font-family: "Lilita One", sans-serif;
    font-size: 30px;
}
#BG{
    background-image: url(assets/thumb-1920-165389.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.hero {
  width: 100%;
  height: 70vh; /* Adjust based on the hero section size */
  overflow: hidden;
  position: relative;
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 30px;
  gap: 20px; /* Space between cards */
  align-items: center;
  scroll-snap-type: x mandatory; /* Snap behavior */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  flex: 0 0 90%; /* Ensure each card takes full width */
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  scroll-snap-align: center; /* Center card on scroll */
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: cyan;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.scroll-btn.left {
  left: 0;
  border-radius: 999px;
}

.scroll-btn.right {
  right: 0;
  border-radius: 999px;
}

.scroll-btn:hover {
  background-color: rgba(219, 219, 219, 0.7);
  
}
.imgh{
    border-radius: 25px;
    padding: 50px;
}
.Desc{
  font-family: Kanit,'Courier New', Courier, monospace;
  font-size: 22px;
}